<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document2</title>
	<style>
		.abc {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-size: cover;
		background-position: top left;
		}
	</style>
</head>
<body>

    <div class="abc" style="background-image: url(../assets/images/BG@2x.png)">

    </div>
</body>
</html>