block vars
  -title = 'Site'
  -bodyClass = ''

doctype html
//[if IE 8]><html lang="en" class="no-js ie ie8"><![endif]
//[if IE 9]><html lang="en" class="no-js ie ie9"><![endif]
//[if gt IE 9]><!
html(class="no-js", lang="en")
  //<![endif]
  head
    meta(charset="utf-8")
    //[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1"><![endif]
    title=title
    meta(name="description", content="")
    meta(name="keywords", content="")
    meta(name="robots", content="index, follow")
    meta(name="author", content="")
    meta(name="viewport", content="width=device-width, initial-scale=1, minimal-ui, user-scalable=0")
    meta(name="theme-color", content="#287fb8")
    meta(name="msapplication-navbutton-color", content="#287fb8")
    meta(name="apple-mobile-web-app-status-bar-style", content="#287fb8")
    meta(name="msapplication-TileColor", content="#fff")
    
    //Meta for Facebook
    meta(property="og:title", content="")
    meta(property="og:type", content="article")
    meta(property="og:image", content="")
    meta(property="og:url", content="")
    meta(property="og:description", content="")

    //Preconnect DNS
    link(href="" rel="preconnect dns-prefetch")

    //Preload Font
    //link(href="fonts/icomoon.woff2?eudc7q" rel="preload" as="font" type="font/woff2" crossorigin)

    //link(rel="icon", href="favicon-16x16.png", type="image/x-icon", sizes="16x16")
    link(rel="canonical", href="")
    //[if lte IE 9]><link rel="stylesheet" href="css/ie.css"><![endif]
    
    //WPA
    //link(rel="manifest", href="manifest.json")
  body(class=bodyClass)
    .container
      include ../blocks/header
      block container
      include ../blocks/footer
    block layer
    //[if lt IE 8]><p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p><![endif]
    noscript JavaScript is off. Please enable to view full site.
